doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/nav/list') Products
      li
        a(href='/nav/create') New Product
  block content
