extends layout

block content
    each post in products
        a#TitleList(href='/blog/singlePost/'+post.id) #{post.name}
        br
        img(src='/pic/ColaDose.jpg' width='300' height='300') 
        br
        p Amount: #{post.amount}   
        p#love 
        script.
            MHD(#{post.MHD})
        button#DetailBtn(type='submit') Details
        p.lastentry 